<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="<%=path%>" width="500px;" height="500px;"> 
    <!-- 이미지만 렌더링 할 친구 path안에 이미지 경로가 들어있다. -->
    <!-- js에서는 이미지를 처리할 수 없으므로, 무조건 ejs로 와서 처리해야만 이미지를 렌더할 수 있다. -->
</body>
</html>